<div class="users">
  <% @users.each do |user| %>
    <%= image_tag user.avatar, height: 40 %>
    <%= link_to user.username, profile_path(user.id) %>
    <br/><br/>
  <% end %>
</div>
<%= will_paginate @users, :style => 'color:gray' %>