<p id="notice"><%= notice %></p>

<p>
  <strong>Comment text:</strong>
  <%= @commentary.comment_text %>
</p>

<%= link_to 'Edit', edit_commentary_path(@commentary) %> |
<%= link_to 'Back', commentaries_path %>
